In [49]:
import pandas as pd

df = pd.read_excel("Logística.xlsx")

In [50]:
df["Atraso"] = df["Tempo_real"] - df["Tempo_previsto"]

filiais_atraso = df.groupby("Filial_responsavel")["Atraso"].sum().reset_index()
filiais_atraso = filiais_atraso.sort_values(by="Atraso", ascending=False)

df1 = (filiais_atraso[(filiais_atraso['Atraso'] >= 0 )])


display(df1)

     Filial_responsavel  Atraso
21             Ferreira       5
55              Pacheco       5
5         Araújo Alegre       3
18                 Dias       3
22  Ferreira de Pimenta       3
..                  ...     ...
46  Montenegro de Jesus       0
49                Moura       0
66        Rios da Praia       0
65    Ribeiro de Araújo       0
73     Siqueira da Mata       0

[78 rows x 2 columns]

In [51]:
df1.to_excel("Atraso_por_filial.xlsx", index=False)

: